body {
    background-color: #0f54ce; // fundo escuro
    color: #cccccc; // texto em cinza claro
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #111111; // um cinza ainda mais escuro
    color: #f7d917; // dourado para o título
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  .character-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  